header>.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid $main_txt;

    &>img {
        padding-left: 1rem;
        width: 12%;
    }

    nav {
        font-size: 1.2rem;
        line-height: 3rem;

        a:not(:last-child) {
            @include txt_decor_none;
            color: $main_txt;
            margin-left: 2rem;
        }

        .fa {
            color: $main_txt;
            font-size: 0.8rem;
        }

        a:last-child {
            color: $color_btn;
            @include txt_decor_none;
        }

        span {
            @include btn;
            margin-left: 2rem;

            img {
                @include btn_img;
            }
        }

    }
}